a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 12rem auto;
  margin: 0;
  height: 100vh;
  background: #111111;
  color: white;
  font-size: 12px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
